# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Python files
.venv/
__pycache__/
*.pyc

# Local Inbox & Unused photos
01_Inbox/*
!01_Inbox/.gitkeep
03_Unmapped/*
!03_Unmapped/.gitkeep

# Archive of legacy sub-projects (kept locally on Mac, not uploaded to GitHub)
_archive_previous_methods/
